body {
   margin: 0;
   color: #fff;
   font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p  {
   margin: 0;
}

h1, h2, h3, h4, h5, h6, nav, .btn {
  text-transform: uppercase;
}

a {
   text-decoration: none;
}

*,
*::before,
*::after {
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
}

.container {
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}

.text-center {
   text-align: center !important;
}

/*....................Button....................*/
.btn,
.btn-dark {
   display: inline-block;
   vertical-align: top;
   padding: 12px 18px;
   font-weight: 700;
   color: #00ffff;
   border-radius: 2px;
   border: 1px solid #00ffff;
   transition: color .1s linear;
   cursor: pointer;
   user-select: none;
}
.btn:hover {
   color: #fff;
   border: 1px solid #fff;
}
.btn-dark:hover {
   color: #322d4c;
   border-color: #322d4c;
}

/*..................Header.................*/
.header {
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   z-index: 1000;

   width: 100%;
   padding-top: 35px;
}

.header_inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.menu, .nav_link {
   display: inline-block;
   position: relative;
   margin: 0 14px;
   color: #fff;
   font-size: 13px;
   font-weight: 900;
   transition: color .1s linear;
}

.active,.nav_link:hover {
   color: #00FFFF;
}

.menu {
   display: none;
   font-size: 30px;
}

/*..................Home Section.................*/
.home {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   width: 100%;
   background: #322d4c url("./Tajam-images/Main-images/PUT\ YOUR\ BACKGROUND\ HEREheader.png") no-repeat center / cover;
}

.home_inner {
   margin: 185px auto 53px;
   width: 100%;
   max-width: 880px;
}

.home_title {
   font-size: 42px;
   font-weight: 700;
   text-transform: none;
}

.home_title:after {
   content: "";
   display: block;
   height: 3px;
   width: 52px;
   background-color: #00ffff;
   margin: 26px auto 29px;
}

.home_text {
   line-height: 1.8;
}

/*...................Radio.....................*/
.radio_container {
    margin: 127px 0 70px;
}

.radio_inner {
   display: flex;
   justify-content: center;
   padding: 15px 5px;
   margin: 0px;
}

.radio {
   position: relative;
   top: 0;
   left: 1.5px;
   right: 0;
}

.radio_input {
   -webkit-appearance: none;
   appearance: none;
   position: absolute;
}

.radio_label {
   color: #444;
   font-size: 1rem;
   cursor: pointer;
   padding-left: 25px;
}

.radio_label:before {
   content: "";
   display: block;
   width: 15px;
   height: 15px;
   border: 1px solid #ccc;
   background-color: #fff;
   border-radius: 50%;

   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;

   transition: linear, border .1s linear;
}

.radio_label:after {
   content: "";
   display: block;
   width: 10px;
   height: 10px;

   background-color: #00ffff;
   border-radius: 50%;
   opacity: 0;

   position: absolute;
   top: 3px;
   left: 3px;
   z-index: 2;
}

.radio_input:checked+.radio_label:before {
   border-color: #00ffff;
}

.radio_input:checked+.radio_label:after {
   opacity: 1;
}

/*.....................About Section...................*/
.about {
   padding: 70px 0;
}

.about_inner {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.about_logo {
   height: 233px;
   width: 235px;
   margin: 20px 100px 20px 20px;
}

.about_title {
   color: #423f4c;
   font-size: 22px;
   margin-bottom: 28px;
}

.about_text {
   color: #aaa8ae;
   line-height: 1.8;
   margin-bottom: 34px;
}

/*..............Video.....................*/
.video-about {
   height: 550px; 
   width: 100%;
   background: #322d4c url(./Tajam-images/Main-images/Video.png) no-repeat center / cover;
}

/*..............Expertise Section.....................*/
.expertise {
   height: 100%;
   width: 100%;
   padding: 71px 0 104px;
}

.expertise_header {
   margin-bottom: 80px;
}

.expertise_title {
   color: #423f4c;
   font-size: 22px;
   letter-spacing: 1px;
   margin-bottom: 16px;
}

.expertise_suptitle {
   color: #7a797d;
   font-weight: 200;
   letter-spacing: 1px;
    text-transform: none;
}

.expertise_suptitle:after {
   margin: 21px auto 0;
   content: "";
   display: block;
   height: 2px;
   width: 60px;
   background-color: #c6c5c9;
}

.expertise_blocks {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   align-items: baseline;
   gap: 15px;
}

.expertise_item {
   height: 205px;
   width: 268px;
}

.expertise_item>img {
   margin-bottom: 37px;
}

.expertise_text1 {
   margin-bottom: 19px;
   color: #423f4b;
   font-weight: 600;
}

.expertise_text2 {
   color: #a4a4a4;
   line-height: 1.8;
}

.line {
   margin: 39px 0;
   width: 100%;
   border-bottom: 1px solid #ebebeb;
}

/*.....................Team Section.....................*/
.team {
   padding: 71px 0 69px;
   background: #322d4c url(./Tajam-images/Main-images/PUT\ YOUR\ BACKGROUND\ HERE.png) no-repeat center / cover;
}

.team_title {
   font-size: 22px;
   margin-bottom: 15px;
}

.team_suptitle {
   color: #aeabbb;
   text-transform: none;
}

.team_suptitle:after {
   content: "";
   display: block;
   margin: 21px auto 47px;
   height: 2px;
   width: 60px;
   background-color: #676080;
}

.employee_cards {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 20px;
}

.card {
   display: inline-block;
   position: relative;
}

.avatar {
   display: block;
   height: 229px;
   width: 220px;
}

.card_texts {
   margin: 0 auto;
   padding: 14px;
   line-height: 1.8;
   border: 1px solid #7a7a8c;
}

.card_text2 {
   font-size: 13px;
   color: #b4b2c0;
}

.team_text {
   color: #c9c8d0;
   margin: 69px 0 35px;
}

/*.....................Our works Section.....................*/
.OurWorks {
   padding: 70px 0;
}

.OurWorks_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
}

.OurWorks_title {
   color: #413f4b;
   font-size: 22px;
}

.OurWorks_link {
   color: #423f4c;
}

.OurWorks_gallery {
   margin: 70px 0;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.gallery_item {
   display: block;
   height: 200px;
   width: 267px;
   position: relative;
}

/*.....................Testimonials Section.....................*/
.testimonials {
   padding: 69px 0;
   height: 100%;
   width: 100%;
   background: #322d4c url(./Tajam-images/Main-images/PUT\ YOUR\ BACKGROUND\ HEREwork.png) no-repeat center center / cover;
}

.testimonials_texts {
   margin: 44px 0 45px;
}

.testimonials_text1 {
   line-height: 1.8;
   font-size: 18px;
   color: #c0bec9;
}

.testimonials_text2 {
   margin: 55px 0 13px;
}

.testimonials_text3 {
   font-size: 15px;
   color: #c0bec9;
}

.slider_item {
   margin: 0 14px;
}

.prev, .next {
   width: 37px;
   font-size: 25px;
   font-weight: 100;
}

/*.....................Contact Section.....................*/
.contact {
   padding: 71px 0;
}

.contact_inner {
     display: flex;
     justify-content: center;
}

.column_form, .column_brand {
   float: left;
   width: 100%;
   margin: 6px 10px 0 10px;
   padding: 30px; 
} 

.form_title, .brand_title {
   margin-bottom: 45px;
   color: #4e4c57; 
   font-size: 22px;
}

input[type=text],
[type=email],
textarea {
   margin-bottom: 21px;
   padding: 16px;
   width: 100%;
   border: 1px solid #e5e5e5;
   outline-color: #00ffff;
}
textarea {
   height: 199px;
   resize: none;
}
input::placeholder, textarea::placeholder {
   color: #b9b8bd;
}
input[type=submit] {
   background: transparent;
}

.brands {
     display: flex;
}

.left_brands_col {
   margin-right: 80px;
}

.brand {
    margin-bottom: 45px;
    position: relative;
}

/*.....................Footer Section.....................*/
.footer {
   padding: 90px 0 72px;
   background: #322d4c url("./Tajam-images/Main-images/PUT\ YOUR\ BACKGROUND\ HERE\ footer.png") no-repeat center / cover;
}

.footer_inner {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   align-items: baseline;
   gap: 40px;
}

.footer_item {
   position: relative;
   width: auto;
}

.footer_item>p {
   line-height: 1.8;
}

.active_line {
   display: none;
}

.footer_item>h3, .footer_logo {
   margin-bottom: 39px;
   font-size: 15;
}

.footer_form {
   display: flex;
}

.footer_form>input[type=text] {
   height: 43px;
   width: 209px;
   color: #b1aebf;
   outline: none;
   background: transparent;
}

.footer_form>input::placeholder {
   color: #b1aebf;
}

.footer_form>input[type=submit] {
   margin-left: 10px;
   height: 43px;
   width: 70px;
  
   background: url(./Tajam-images/Social-media/Btn.png) no-repeat center / cover;
}

.social_media>a {
   margin: 0 3px;
}

:is(.social_media, a)>img:hover {
   border-radius: 100px;
   background-color: #b1aebf;
}

.copyright {
   text-align: right;
}

.phone {
   margin-top: 24px;
}

.help, .copyright {
   margin-top: 62px;
}



/* @media (max-width: 1230px){
   
}

@media (max-width: 1024px) {
   
}

@media  (max-width: 912px) {

} */

@media (max-width: 880px){
   /* .header {
      background-color: #000;
   } */
   .nav_link {
       display: none;
   }
   .menu {
      display: block;
   }
   .about_logo {
      margin: auto;
   }

   .contact_inner {
      flex-wrap: wrap;
   }

   .column_brand {
      width: 50%;
   }

   .brand > img {
      height: auto;
      width: 100%;
   }
}

/* @media  (max-width: 768px) {

} */

@media  (max-width: 728px) {
   .about_logo {
      height: 192px;
      width: 192px;
   } 
}

@media  (max-width: 685px) {
   .about_logo {
      margin-bottom: 30px;
   } 
}

@media  (max-width: 567px) {
   .active_line {
      display: block;
   }
}

@media  (max-width: 412px) {
   .home_title {
      font-size: 23px;
   }

   .home_text {

   }

   .about_logo {
       height: 192px;
       width: 192px;
   }
   .expertise_header {
      padding: 20px;
   }

   .OurWorks_header {
      padding: 0 20px;
   }

   .testimonials_text1 {
      font-size: 9px;
   }

   .active_line {
      display: block;
   }
}

/* @media (max-width: 321px) {

} */

@media (max-width: 280px) {
   .header_logo {
      width: 90px;
    }

    .home_title {
      font-size: 23px;
    }

    .home_text {
      font-size: 11px;
    }

    .btn {
      font-size: 12px;
    }

   .form_title, .brand_title {
      font-size: 14px;
      margin-bottom: 40px
   }

   .about_text {
      font-size: 11px;
    }

    .testimonials_text1 {
      font-size: 11px;
    }

   .brand {
      margin-bottom: 38px;
  }
 
   .left_brands_col {
      margin-right: 45px;
   }
}


@media screen and (max-width: 600px) {
   .column_form, .column_brand{
       width: 100%;
       margin: 0;
   }
  
} 