body {
   margin: 0;
   padding: 0;
   color: #fff;
   font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin: 0;
   padding: 0;
}

h1, h2, h3, h4, h5, h6, nav, .btn {
  text-transform: uppercase;
}

.text-center {
   text-align: center !important;
}

a {
   text-decoration: none;
}

*,
*::before,
*::after {
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
}

.container {
   width: 100%;
   margin: 0 auto;
   padding: 0 15px;
}

.flex {
   display: flex;
   align-items: center;
}

.flex-column {
   flex-direction: column;
}

.row::after {
   content: " ";
   display: table;
   clear: both;
}

.column {
   float: left;
   width: 100%;
   margin: 6px 10px 0 10px;
   padding: 20px;
}

.btn,
.btn-dark {
   display: inline-block;
   padding: 15px 15px;
   font-size: 14px;
   font-weight: 700;
   color: #00ffff;
   border: 1px solid #00ffff;
   transition: color .1s linear;
   cursor: pointer;
   user-select: none;
}
.btn:hover {
   color: #fff;
   border: 1px solid #fff;
}
.btn-dark:hover {
   color: #322d4c;
   border-color: #322d4c;
}

.mr-45px {
   margin-right: 45px;
}

/*..................header.................*/
.header {
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   z-index: 1000;

   width: 100%;
   padding-top: 36px;

}

.header-wrap {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo {
   display: block;
}

.nav {
   margin-left: 50px;
   font-size: 16px;
  
}

.nav-item {
   display: inline-block;
   margin: 0 10px;
   color: #fff;
   transition: color .2s linear;
}

.nav-item:hover {
   color: #00FFFF;
}

.nav-item:after {
   content: "";
   display: block;
   width: 100%;
   height: 2px;
   background-color: #00ffff;
   transition: opacity .2s linear;
   opacity: 0;
}

.nav-item:hover:after {
   opacity: 1;
}

/*..................HomeSection.................*/
.HomeSection {
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 100vh;
   width: 100%;
   background: #322d4c url("./Tajam-images/Main-images/PUT\ YOUR\ BACKGROUND\ HEREheader.png") no-repeat center / cover;
}

.home-titles {
   margin: 20px 0 53px;
}

.home-titles>h1 {
   font-size: 45px;
   font-weight: 700;
   text-transform: none;
}

.home-titles>h1:after {
   content: "";
   display: block;
   height: 2px;
   width: 60px;
   background-color: #00ffff;
   margin: 27px auto 30px;
}

.home-titles>p {
   font-size: 17px;
   opacity: 0.75;
}

/*..............  Radio.....................*/
.radio_container {
   margin: 0 auto;
   width: 100%;
   max-width: 1200px;
}

.radio_inner {
   display: flex;
   justify-content: center;

   padding: 15px 5px;
   margin: 0px;
}

.radio {
   position: relative;
   top: 0;
   left: 1.5px;
   right: 0;
}

.radio_input {
   -webkit-appearance: none;
   appearance: none;
   position: absolute;
}

.radio_label {
   padding-left: 25px;
   font-size: 1rem;
   color: #444;
   cursor: pointer;
}

.radio_label:before {
   content: "";
   display: block;
   width: 16px;
   height: 16px;
   border: 1px solid #ccc;
   background-color: #fff;
   border-radius: 50%;

   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;

   transition: linear, border .1s linear;
}

.radio_label:after {
   content: "";
   display: block;
   width: 10px;
   height: 10px;

   background-color: #00ffff;
   border-radius: 50%;
   opacity: 0;

   position: absolute;
   top: 3px;
   left: 3px;
   z-index: 2;
}

.radio_input:checked+.radio_label:before {
   border-color: #00ffff;
}

.radio_input:checked+.radio_label:after {
   opacity: 1;
}

/*..............Section-About.....................*/
.Section-About {
   padding: 70px 0;
}

.Logo {
   margin-right: 50px;
   height: 310px;
   width: 300px;
}

.content-about {
   margin-left: 50px;
}

.content-about>h1 {
   color: #423f4c;
   font-size: 26px;
   margin-bottom: 28px;
}

.content-about>p {
   color: #aaa8ae;
   font-size: 16px;
   margin-bottom: 20px;
}

/*..............Video.....................*/
.video-about {
   height: 550px; 
    width: 100%;
   background: #322d4c url(./Tajam-images/Main-images/Video.png) no-repeat center / cover;
}

/*..............Expertise-Section.....................*/
.Expertise-Section {
   height: 100%;
   width: 100%;
   padding: 71px 0 104px;
}

.expertise-header {
   margin-bottom: 80px;
}

.expertise-header>h1 {
   color: #423f4c;
   font-size: 26px;
   letter-spacing: 1px;
   margin-bottom: 16px;
}

.expertise-header>h3 {
   color: #7a797d;
   font-size: 20px;
   font-weight: 200;
   letter-spacing: 1px;

}

.expertise-header:after {
   margin: 21px auto 0;
   content: "";
   display: block;
   height: 2px;
   width: 60px;
   background-color: #c6c5c9;
}

.expertise-cards {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   align-items: baseline;
}

.expertise-item {
   margin-bottom: 15px;
   width: 300px;
}

.expertise-item>img {
   margin-bottom: 37px;
}

.expertise-p1 {
   margin-bottom: 20px;
   color: #423f4b;
   font-weight: 600;
}

.expertise-p2 {
   color: #a4a4a4;
}

.line {
   margin: 39px 0;
   width: 100%;
   border-bottom: 1px solid #ebebeb;
}

/*..............Teams-Section.....................*/
.Team-Section {
   padding: 71px 0 69px;
   background: #322d4c url(./Tajam-images/Main-images/PUT\ YOUR\ BACKGROUND\ HERE.png) no-repeat center / cover;
}

.Team-Section>h1 {
   font-size: 26px;
}

.Team-Section>h3 {
   color: #fff;
   font-size: 20px;
   margin-top: 30px;
}

.Team-Section>h3:after {
   display: block;
   margin: 21px auto 47px;
   content: "";
   height: 2px;
   width: 60px;
   background-color: #676080;
}

.card {
   margin: 10px;
   display: inline-block;
}

.avatar {
   display: block;
   height: 229px;
   width: 220px;
}

.card-content {
   margin: 0 auto;
   padding: 14px;
   width: 100%;
   border: 1px solid #7a7a8c;
}

.Team-Section>p {
   color: #c9c8d0;
   font-size: 18px;
   margin: 69px 0 35px;
}

/*//////////////////////////////Our works//////*/
.OurWorks-Section {
   padding: 70px 0;
}

.gallery {
   margin: 70px 0;
}

:is(.OurWorks-Section, .gallery) > img {}
 
/*/////////////////////////////////////Testimonials*/
.Testimonials-Section {
   padding: 69px 0;
   height: 100%;
   width: 100%;
   background: #322d4c url(./Tajam-images/Main-images/PUT\ YOUR\ BACKGROUND\ HEREwork.png) no-repeat center center / cover;
}

.testimonials-titles {
   margin: 44px 0 45px;
}

.testimonials-p1 {
   font-size: 18px;
   color: #c0bec9;
}

.testimonials-p2 {
   margin: 55px 0 10px;
}

.testimonials-p3 {
   font-size: 15px;
   color: #c0bec9;
}

.slide {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   align-items: baseline;
}

.slide-item {
   margin: 14px;
}

/*////////////////////////////////////////////Contact*/
.Contact-Section {
   padding: 71px 0;
}

input[type=text],
[type=email],
textarea {
   margin-bottom: 21px;
   padding: 16px;
   width: 100%;
   border: 1px solid #e5e5e5;
   outline-color: #00ffff;
}
textarea {
   height: 199px;
   resize: none;
}
input::placeholder, textarea::placeholder {
   color: #b9b8bd;
}
input[type=submit] {
   width: 118px;
   background-color: white;
}

/*///////////////////////////////////////////////Client*/
.brand-container {
     margin-top: 45px;
}

.brand {
    margin-bottom: 45px;
}

/*///////////////////////////////////////////////////Footer*/
footer {
   width: 100%;
   background: #322d4c url("./Tajam-images/Main-images/PUT\ YOUR\ BACKGROUND\ HERE\ footer.png") no-repeat center / cover;
}

.footer-wrap {
   display: flex;
   justify-content: space-around;
   align-items: baseline;
}

.footer-item {
   color: #fff;
}

:is(.footer-item, div)>p {
   line-height: 1.8;
}

.footer-item>h3 {
   margin-bottom: 29px;
}

.footer-form {
   display: flex;
   align-items: center;
}

.footer-form>input {
   color: #b1aebf;
   background: transparent;
   outline: none;
}

.footer-form>input::-webkit-input-placeholder {
   color: #b1aebf;
}

.footer-form>button {
   height: 45px;
   width: 70px;
   background: url(./Tajam-images/Social-media/Btn.png) no-repeat center;
}

.social-media {
   margin: 27px 0 69px 0;
}

.social-media>a {
   margin: 0 3px;
}

:is(.social-media, a)>img:hover {
   border-radius: 100px;
   background-color: #b1aebf;
}

.copyright {
   text-align: right;
}